<section id="come-say-hi">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ven a saludar</h2>
                    <h3 class="section-subheading text-muted">Utilizamos GitHub para obtener ayuda en código, hablar sobre eventos y compartir archivos. !Únete a nosotros!</h3>
                </div>
            </div>
            <div class="row">
                  <div class="col-lg-12 text-center">
                      <a href="{{ site.github.issues_url }}" class="btn btn-xl">Háblanos</a>
                  </div>
            </div>
            
           
        </div>
    </section>
