<!-- Events Grid Section -->
    <section id="events" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Eventos</h2>
                    <h3 class="section-subheading text-muted">
                    </h3>
                </div>
            </div>
            <div class="col-lg-12">
              <ul class='events'>
              {% assign isEvent = 0 %}
              {% for post in site.posts reversed %}
                {% capture nowyear %}{{'now' | date: '%Y'}}{% endcapture %}
                {% capture postyear %}{{post.date | date: '%Y'}}{% endcapture %}
                {% capture nowday %}{{'now' | date: '%j'}}{% endcapture %}
                {% capture postday %}{{post.date | date: '%j'}}{% endcapture %}
                {% assign postday = postday | plus: 0 %}
                {% assign nowday = nowday | minus: 2 %}
                {% if postyear > nowyear or postday >= nowday and postyear >= nowyear %}
                  {% assign isEvent = 1 %}
                  <li>
                    <a class='eventTitle' href="{{ post.link }}">{{ post.title }}, {{ post.location }}, {{ post.date | date: "%-d %B %Y"}}, {{post.startTime | date:"%I:%M %p"}} </a>
                    <div class='eventSub'>{{ post.text }}</div>
                  </li>
                {% endif %}
              {% endfor %}
              {% if isEvent == 0 %}
                <a class='eventTitle' href="{{ site.github.issues_url }}">Nothing yet! Propose an event here.</a>
              {% else %}
              <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="{{ site.github.owner_url }}/Events/issues" class="btn btn-xl eventSuggest">Sugerir un evento</a>
                      <!--  <a href="{{ site.github.url }}/CONTRIBUTING" class="btn btn-xl eventSuggest">How to Lead a Session</a> -->
                    </div>
              </div>
              {% endif %}
              </ul>
            </div>
            {% if site.calendar_on %}
            <div class="col-lg-6">
            {% else %}
            <div class="col-lg-12">
            {% endif %}
              <h3 class="section-heading eventInstructions">¿Quieres ser notificado de nuestros próximos eventos?</h3>
              <h3 class="section-subheading text-muted eventSubinstructions">Ve a <a href="{{ site.github.owner_url }}/Events">GitHub</a> y sigue nuestro repositorio, así:</h3>
              <figure>
                <img src="https://help.github.com/assets/images/help/notifications/watcher_picker.gif"></img>
                <figcaption>Mire en la esquina superior derecha de <a href="{{ site.github.owner_url }}/Events">nuestro repo</a>, y haz click en 'Watching.' <br>Puedes deshacer esto en cualquier momento en el mismo lugar.</figcaption>
              </figure>
            </div>
            {% if site.calendar_on %}
            <div class="col-lg-6">
              <h3 class="section-heading eventInstructions">!Suscríbete a nuestro calendario de eventos!</h3>
                <iframe src="https://calendar.google.com/calendar/embed?mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=studygroupmx%40gmail.com&amp;ctz=America%2FMexico_City" style="border-width:0" width="400" height="400" frameborder="0" scrolling="no"></iframe>
              <h3 class="section-subheading text-muted eventSubinstructions">También te invitamos a que sigas <a href="{{ site.calendar_embed_url }}" target="_blank">nuestro calendario</a>, donde los eventos serán publicados. </h3>
              <h3 class="section-subheading text-muted eventSubinstructions">Si utilizas Google Calendar, puedes agregar nuestro calendario pulsando el botón"Google Calendar" en la parte inferior derecha de <a href="{{ site.calendar_embed_url }}" target="_blank">esta página</a>.</h3>
              <h3 class="section-subheading text-muted eventSubinstructions">Si utilizas otra aplicación de calendario, puedes copiar y pegar <a href="{{ site.calendar_ical_url }}">esta dirección</a> en cualquier producto de calendario compatible con el formato iCal.</h3>
            </div>
            {% endif %}
        </div>
    </section>
